@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    height: 100%;
  }
  /* Prevent pull-to-refresh on mobile */
  body {
    overscroll-behavior-y: contain;
  }
}
